[user]
	name = Hongyuan Jia
	email = hongyuanjia@cqust.edu.cn
[credential]
	helper = store
[core]
	autocrlf = input
	quotepath = off
	eol = lf
	editor = vim
	fileMode = false
	longpaths = true
[http]
	sslVerify = false
	proxy = 127.0.0.1:7890
[merge]
	tool = vimdiff
