snippet veci "integer vector" b
std::vector<int> ${VISUAL}$0
endsnippet

snippet vecs "string vector" b
std::vector<std::string> ${VISUAL}$0
endsnippet

snippet vecb "logical vector" b
std::vector<bool> ${VISUAL}$0
endsnippet

snippet vecd "numeric vector" b
std::vector<double> ${VISUAL}$0
endsnippet

snippet ast "Rcpp::as<T>"
Rcpp::as<${1:type}>(${2:object}${VISUAL})
endsnippet
snippet stds "std::string"
std::string
endsnippet
