snippet rlc "inline r code"
\`r {$0$1}\`
endsnippet

snippet ie "inline equation"
$$1$
endsnippet

snippet times "\times"
$\times$
endsnippet

snippet rbk "r code block"
\`\`\`{r ${1:name}}
$2
\`\`\`
endsnippet
